## While Döngüsü

While döngüsü, koşul sağlandığı sürece tekrarlı işlem yapılmasını sağlar.

In [1]:
deger = 50.0
while deger > 1:
    deger = deger / 4
    print(deger)

12.5
3.125
0.78125

## For Döngüsü

For döngüsü, sayılabilen nesneler üzerinde tekrarlı işlem yapılmasını sağlar.

In [2]:
aile = [1.73, 1.68, 1.71, 1.89]
for boy in aile :
    print(boy)

1.73
1.68
1.71
1.89

In [3]:
aile = [1.73, 1.68, 1.71, 1.89]
for indeks, boy in enumerate(aile) :
    print("indeks " + str(indeks) + ": " + str(boy))

indeks 0: 1.73
indeks 1: 1.68
indeks 2: 1.71
indeks 3: 1.89

In [4]:
for k in "aile" :
    print(k.capitalize())

A
I
L
E

## Veri Yapılarında Döngüler

### Sözlüklerde Döngüler

In [5]:
dunya = { "afghanistan":30.55,
         "albania":2.77,
         "algeria":39.21 }
for anahtar, deger in dunya.items(): # .items() metodu anahtar: değer çifti verir
    print(anahtar + " -- " + str(deger))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

### Tek Boyutlu NumPy Dizileri

In [6]:
import numpy as np
np_boy = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_kilo = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bke = np_kilo / np_boy ** 2
for deger in bke :
    print(deger)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

### İki Boyutlu NumPy Dizileri

In [7]:
import numpy as np
np_boy = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_kilo = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
olculer = np.array([np_boy, np_kilo])
for deger in np.nditer(olculer): # .nditer() metodu her bir yapıyı tek tek yazmamızı sağlar
    print(deger)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

### Pandas Veri Çerçeveleri

In [8]:
import pandas as pd
brics = pd.read_csv("data\\brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [9]:
for deger in brics:
    print(deger)

country
capital
area
population

In [10]:
for indeks, satir in brics.iterrows(): # .iterrows() bir veri çerçevesindeki her bir satırı gezmeyi sağlar.
    print(indeks)
    print(satir)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [11]:
for indeks, satir in brics.iterrows():
    print(indeks + ": " + satir["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [12]:
# Yeni sütun oluşturma
for indeks, satir in brics.iterrows():
    # Her bir iterasyonda yeni değer oluşturuyor.
    brics.loc[indeks, "name_length"] = len(satir["country"])

print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [13]:
brics["name_length_2"] = brics["country"].apply(len) # apply metodu, her bir satır üzerinde fonksiyonel işlem uygular
print(brics)

         country    capital    area  population  name_length  name_length_2
BR        Brazil   Brasilia   8.516      200.40          6.0              6
RU        Russia     Moscow  17.100      143.50          6.0              6
IN         India  New Delhi   3.286     1252.00          5.0              5
CH         China    Beijing   9.597     1357.00          5.0              5
SA  South Africa   Pretoria   1.221       52.98         12.0             12